{% extends 'curriculums/base.html' %}

{% block title %} เกี่ยวกับกลุ่มงาน {% endblock title %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">กลุ่มงานหลักสูตร</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">กลุ่มงานหลักสูตร มหาวิทยาลัย ABC ให้บริการคณะในด้านต่าง ๆ เกี่ยวกับงานหลักสูตร ตั้งแต่ขออนุมัติเปิดหลักสูตร แต่งตั้งอาจารย์ประจำหลักสูตร ยกเว้นการรับนักศึกษา และปิดหลักสูตร โดยเอกสารต่าง ๆ ที่เกี่ยวสามารถดาวน์โหลดได้จาก...</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">ไปที่หลักสูตร</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">อาจารย์ในสังกัด</button>
      </div>
    </div>
  </div>
{% endblock content %}